# Virtual environments
env/
venv/
ENV/
*.venv

# Django local settings / db
db.sqlite3
db.sqlite3-journal
local_settings.py

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Media / static files
/media/

# IDE files
.vscode/
.idea/
.project
.pydevproject
